demo.json
[{"id":"5db7f6c1.d32f3c","type":"atplatform","z":"522083b0.bb456c","x":400,"y":1620,"wires":[["3d95919.0362b2e"]]},{"id":"3d95919.0362b2e","type":"debug","z":"522083b0.bb456c","name":"","active":true,"console":"false","complete":"true","x":570,"y":1620,"wires":[]},{"id":"f0345313.70bf8","type":"inject","z":"522083b0.bb456c","name":"","topic":"","payload":"{\"ECVer\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":1580,"wires":[["5db7f6c1.d32f3c"]]},{"id":"f1497180.53f3f8","type":"inject","z":"522083b0.bb456c","name":"","topic":"","payload":"{\"BIOSVer\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":1540,"wires":[["5db7f6c1.d32f3c"]]},{"id":"bcd61a17.ee26e","type":"inject","z":"522083b0.bb456c","name":"","topic":"","payload":"{\"ModuleID\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":170,"y":1500,"wires":[["5db7f6c1.d32f3c"]]},{"id":"afff4b8e.9a3e5","type":"inject","z":"522083b0.bb456c","name":"","topic":"","payload":"{\"OSVer\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":1620,"wires":[["5db7f6c1.d32f3c"]]},{"id":"fd179deb.cfebc8","type":"inject","z":"522083b0.bb456c","name":"","topic":"","payload":"{\"CPUName\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":170,"y":1660,"wires":[["5db7f6c1.d32f3c"]]},{"id":"713c9594.43a03c","type":"inject","z":"522083b0.bb456c","name":"","topic":"","payload":"{\"MemAvail\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":170,"y":1700,"wires":[["5db7f6c1.d32f3c"]]},{"id":"ed501ddf.eee49","type":"inject","z":"522083b0.bb456c","name":"","topic":"","payload":"{\"diskInfo\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":1740,"wires":[["5db7f6c1.d32f3c"]]}]